<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="generator" content=
  "HTML Tidy for HTML5 for Mac OS X version 4.9.24">
  <meta charset="utf-8">
  <title>Home Depot Data Collection Report</title>
  <meta name="description" content="Home Depot Data Collection Report">
  <meta name="author" content="Allan Adair">
  <meta name="viewport" content=
  "width=device-width, initial-scale=1">
  <link href=
  "http://fonts.googleapis.com/css?family=PT+Sans:400,700" rel=
  "stylesheet" type="text/css">
  <link rel="stylesheet" href=
  "{{ url_for('static', filename='grid.css') }}">
  <link rel="stylesheet" href=
  "{{ url_for('static', filename='style.css') }}">
  <link rel="icon" type="image/png" href=
  "{{ url_for('static', filename='favicon.png') }}">
  <style>
    h3 {
      padding-left: 8px;
    }
    td, th {
      padding-right: 8px;
      padding-left: 8px;
    }
    table {
      border: 0px;
      display: block;
      overflow: scroll;
    }
  </style>
  {% block scripts %}{% endblock %}
</head>
<body>
  <div class="content">
    <div class="section group"> 
      <div class="col white span_1_of_2">
	<a href="{{ url_for('index') }}">
          <img src="{{ url_for('static', filename='logo.png') }}"
               style="float:left;">
        </a>
      </div>
      <div class="col white span_1_of_2">
        <div style="position:relative;float:right;">
          <form action="/hd_report/" method="post">
            <label for="pass_input">Pass</label><br>
            <input id="pass_input" type="text" name="id_pass"
                   value="{{ id_pass }}" pattern="[0-9]{4,}">
            <input type="submit" value="Generate Report"
                   class="button-primary">
          </form>
        </div>
      </div>
    </div>
    <div class="section group">
      {% block content %}{% endblock %}
    </div>
  </div>
</body>
</html>
