<!DOCTYPE html>
<html>
<head>
  <meta name="generator" content=
  "HTML Tidy for HTML5 for Mac OS X version 4.9.24">
  <meta charset="utf-8">
  <title>Home Depot Data Collection Report</title>
  <meta name="description" content="Home Depot Data Collection Report">
  <meta name="author" content="Allan Adair">
  <meta name="viewport" content=
  "width=device-width, initial-scale=1">
  <link href=
  "http://fonts.googleapis.com/css?family=PT+Sans:400,700" rel=
  "stylesheet" type="text/css">
  <link rel="stylesheet" href=
  "{{ url_for('static', filename='grid.css') }}">
  <link rel="stylesheet" href=
  "{{ url_for('static', filename='style.css') }}">
  <link rel="icon" type="image/png" href=
  "{{ url_for('static', filename='favicon.png') }}">
</head>
<body>
  <div class="content">
    <div class="col white span_1_of_3"></div>
    <div class="col white span_2_of_3">
      {% if error_msg %}
      <p style="color:#BF422E">{{ error_msg }}</p>
      {% endif %}
      <form method="POST" action={{ url_for('login', next=request.args.get('next')) }}>
        <div>{{ form.username.label }}<br> {{ form.username() }}</div>
        <div>{{ form.password.label }}<br> {{ form.password() }}</div>
        <p><input type="submit" value="Sign In" class="button-primary"></p> 
        {{ form.csrf_token }}
      </form>
    </div>
  </div>
</body>
</html>
