{% extends "base.html" %}
{% block head %} {{ super() }} {% endblock %}
{% block content %}
<div class="section group">
  <div class="col lgrey span_2_of_2">
    <h3>Recent Passes</h3>
  </div>
</div>
{% if passes %}
  <table>
    <thead>
      <tr>
        <th>id_pass</th>
        <th>time_begin</th>
        <th>time_end</th>
      </tr>
    </thead>
    <tbody>
      {% for item in passes %}
      <tr>
	      <td><a href="/hd_report/{{ item['attributes']['id_pass'] }}">{{ item['attributes']['id_pass'] }}</a></td>
        <td>{{ strftime('%Y-%m-%d %H:%M:%S', gmtime(item['attributes']['time_begin']/1000)) }}</td>
        <td>{{ strftime('%Y-%m-%d %H:%M:%S', gmtime(item['attributes']['time_end']/1000)) }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  
  {% else %}
  <p>No recent passes.</p>
  {% endif %}
 
{% endblock %}
