{% extends "base.html" %}
{% block head %}
{{ super() }}
{% block scripts %}
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.3.0/knockout-min.js"></script>
  <script src="http://underscorejs.org/underscore-min.js"></script>
  <script>

  $(document).ready(function(){
    $.ajax({
	url: window.location.href + "/barcode_mismatch",
      dataType: "json"
    }).done(function(response){
      if (!response || !response.results || response.results.length === 0){
        return ;
      }
      var model = response;
      model.tableHead = _.keys(response.results[0]);
      var misMatchHead = $('.section.group').last();
      misMatchHead.after('<table><thead><tr data-bind="foreach:tableHead"><th data-bind="text:$data"></th></tr></thead>'+
        '<tbody data-bind="foreach:{data:results, as:\'result\'}"><tr data-bind="foreach:{data:$parent.tableHead,as:\'columnName\'}">'+
        '<td data-bind="text:result[columnName]"></td>'+
        '</tr></tbody></table>');

      ko.applyBindings(model);

    });
  });
  </script>
{% endblock %}
{% endblock %}
{% block content %}
  <div class="section group">
    <div class="col lgrey span_2_of_2">
      <h3>Barcode QA Summary Statistics</h3>
    </div>
  </div>
  {% if summary_columns and summary_rows %}
  <table>
    <thead>
      <tr>
        {% for item in summary_columns %}
        <th>{{ item['alias'] }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for item in summary_rows %}
      <tr>
        <td>{{ item['attributes']['id_pass'] }}</td>
        <td>{{ item['attributes']['id_bay'] }}</td>
        <td>{{ item['attributes']['bay'] }}</td>
        <td>{{ strftime('%Y-%m-%d %H:%M:%S', gmtime(item['attributes']['time_begin']/1000)) }}</td>
        <td>{{ item['attributes']['barcode_count'] }}</td>
        <td>{{ item['attributes']['barcode_qa_count'] }}</td>
        <td>{{ item['attributes']['barcode_count_pct'] }}%</td>
        <td>{{ item['attributes']['barcode'] }}%</td>
        <td>{{ item['attributes']['shelf'] }}%</td>
        <td>{{ item['attributes']['sequence'] }}%</td>
        <td>{{ item['attributes']['id_tag_size'] }}%</td>
        <td>{{ item['attributes']['id_tag_type'] }}%</td>
        <td>{{ item['attributes']['in_stock'] }}%</td>
        <td>{{ item['attributes']['validate'] }}</td>
        <td>{{ item['attributes']['validated'] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  
  {% else %}
  <p>No results for pass {{ id_pass }}</p>
  {% endif %}
  
  <div class="section group">
    <div class="col lgrey span_2_of_2">
      <h3>Product Stock Level Less than 100%</h3>
    </div>
  </div>
  {% if stock_columns and stock_rows %}
  <table>
    <thead>
      <tr>
        {% for item in stock_columns %}
        <th>{{ item['alias'] }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for item in stock_rows %}
      <tr>
        <td>{{ item['attributes']['id_pass'] }}</td>
        <td>{{ item['attributes']['id_bay'] }}</td>
        <td>{{ item['attributes']['bay'] }}</td>
        <td>{{ item['attributes']['shelf'] }}</td>
        <td>{{ item['attributes']['sequence'] }}</td>
        <td>{{ item['attributes']['barcode'] }}</td>
        <td>{{ item['attributes']['in_stock'] }}%</td>
        <td>{{ item['attributes']['in_stock_confidence'] }}%</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  
  {% else %}
  <p>No results for pass {{ id_pass }}</p>
  {% endif %}

  <div class="section group">
    <div class="col lgrey span_2_of_2">
      <h3>Images</h3>
    </div>
  </div>
  {% if images_rows %}
  <table>
    <thead>
      <tr>
        <th>id_pass</th>
        <th>id_bay</th>
        <th>bay</th>
        <th>barcode</th>
        <th>filename_image</th>
        <th>barcode_image</th>
        <th>tag_image</th>
      </tr>
    </thead>
    <tbody>
      {% for item in images_rows %}
      <tr>
        <td>{{ item[0] }}</td>
        <td>{{ item[6] }}</td>
        <td>{{ item[7] }}</td>
        <td>{{ item[8] }}</td>
        <td>{{ item[9] }}</td>
	{% if item[9] != '-1' %}
	<td><a href="/hd_report/rotate_img/{{item[1]}}/{{item[2]}}/{{item[3]}}/{{item[4]}}/{{item[5]}}/{{ item[10].strftime('%Y_%m') }}/{{item[0]}}/{{item[9]}}" target="_blank">{{ item[9] }}</a> </td>
	<td><a href="http://recognition.rfspot.com/outofstock/?org={{item[1]}}&campus={{item[2]}}&store={{item[3]}}&structure={{item[4]}}&floor={{item[5]}}&pass={{item[0]}}&imageid={{item[9]}}&key=rfspot-6e7035a82486522e04cb&action=showimage" target="_blank">{{ item[9] }}</a></td>
	{% else %}
	<td></td>
	<td></td>
	{% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  
  {% else %}
  <p>No results for pass {{ id_pass }}</p>
  {% endif %}

  <div class="section group">
    <div class="col lgrey span_2_of_2">
      <h3>Barcode Frequency Mismatch</h3>
    </div>
  </div>

  {% endblock %}
