<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="generator" content=
  "HTML Tidy for HTML5 for Mac OS X version 4.9.24">
  <meta charset="utf-8">
  <title>Home Depot Data Collection Report</title>
  <style type="text/css">
    .rotate270 {
      -webkit-transform: rotate(270deg);
      -moz-transform: rotate(270deg);
      -o-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
      transform: rotate(270deg);
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  </style>
  <link rel="icon" type="image/png" href=
  "{{ url_for('static', filename='favicon.png') }}">
</head>
<body>
<img src={{ srcpath }} class="rotate270">
</body>
</html>
