/* RFSpot STYLESHEET */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
}

/***    FONTS       ***/

@font-face{ 
  font-family: 'pt_sansregular';
  src: url('../fonts/pt-sans-regular/PTS55F-webfont.eot');
  src: url('../fonts/pt-sans-regular/PTS55F-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/pt-sans-regular/PTS55F-webfont.woff') format('woff'),
       url('../fonts/pt-sans-regular/PTS55F-webfont.ttf') format('truetype'),
       url('../fonts/pt-sans-regular/PTS55F-webfont.svg#pt_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face{ 
  font-family: 'pt_sansbold';
  src: url('../fonts/pt-sans-bold/PTS75F-webfont.eot');
  src: url('../fonts/pt-sans-bold/PTS75F-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/pt-sans-bold/PTS75F-webfont.woff') format('woff'),
       url('../fonts/pt-sans-bold/PTS75F-webfont.ttf') format('truetype'),
       url('../fonts/pt-sans-bold/PTS75F-webfont.svg#pt_sansbold') format('svg');
  font-weight: bold;
  font-style: bold;
}

/***    HEADINGS    ***/

h1, h2, h3, h4, h5, h6, p, label, input, textarea, ol, ul, table, strong {
  font-family: 'PT Sans', 'pt_sansregular', 'pt_sansbold', Verdana, sans-serif;
  color: #111;
}

h1 {font-weight: 700; font-size: 2.5em; margin: 20px 0px 6px 0px;}
h2 {font-weight: 700; font-size: 2em; margin: 20px 0px 6px 0px;}
h3 {font-weight: 700; font-size: 1.5em;}
h4 {font-weight: 400; font-size: 1.25em;}
h5 {font-weight: 700; font-size: 1.25em; text-transform: uppercase;}
h6 {font-weight: 400; font-size: 1em; text-transform: uppercase;}
p {margin: 8px 0px;}

/***    COLOR   ***/

.grey {background: #666;}
.red {background: #BF422E;}
.white {background: #FFF;}
.lgrey {background: #F5F5F5;}
.dgrey {background: #999;}

/***    FORMS   ***/

label {
  font-size: .9em;
  padding: 6px 0px;
}
label.disabled {
  color: #AAA;
}
input[type=text], input[type=password] {
  width: 200px;
  height: 28px;
  border: 1px solid #333;
  background: #FFF;
  font-size: .825em;
  padding: 0px 4px;
  margin-bottom: 10px;
}
input:disabled {
  border: 1px solid #AAA;
  background: #F1F1F1;
}
textarea {
  min-width: 200px;
  max-width: 100%;
  min-height: 120px;
}
input[type=checkbox], input[type=radio] {
  margin: 6px;
}
select {
  width: 200px;
  height: 28px;
  background: #FFF;
  border: 1px solid #333;
}

/***    BUTTONS     ***/

input[type=submit], button {
  background: #BF422E;
  color: #FFF;
  padding: 5px 8px;
  font-size: .9em;
  border: none;
  cursor: pointer;
}
input[type=submit]:hover, button:hover {
  background: #A23220;
}
a {
  color: #BF422E;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: #A23220;
}

/***    LISTS   ***/

ul {
  list-style-type: square;
}
ol, ul {
  color: #BF422E;
  margin: 12px 0px;
}
ol span, ul span {
  color: #111;
}

/***    TABLES      ***/

table {
  border-collapse: collapse;
  border: 1px solid #D4D4D4;
}
table th {
  background: #555;
  border: 1px solid #555;
  color: #FFF;
}
table td {
  text-align: center;
}
table tr:nth-child(even) {
  background-color: #FFF;
}
table tr:nth-child(odd) {
  background-color: #F1F1F1;
}
